:root {
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-very-dark-cyan: hsl(179, 100%, 13%);

  --clr-text: hsla(0, 0%, 100%, 0.75);
  --clr-background: hsl(0, 0%, 95%);

  --ff: 'Chivo', sans-serif;
  --ff-bold: 'Big Shoulders Display', cursive;

  --fw-regular: 400;
  --fw-bold: 700;
  --fs: 15px;
}

body {
  display: flex;
  min-height: 100vh;
  place-content: center;
  font-family: var(--ff);
  font-size: var(--fs);
  color: var(--clr-text);
  background-color: var(--clr-background);
}

.container {
  margin: auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.sedans {
  background-color: var(--clr-bright-orange);
  border-radius: 10px 10px 0 0;
  padding: 50px;
}

.sedans button {
  color: var(--clr-bright-orange);
}

.suvs {
  background-color: var(--clr-dark-cyan);
  padding: 50px;
}

.suvs button {
  color: var(--clr-dark-cyan);
}

.luxury {
  background-color: var(--clr-very-dark-cyan);
  border-radius: 0 0 10px 10px;
  padding: 50px;
}

.luxury button {
  color: var(--clr-very-dark-cyan);
}

.heading {
  font-family: var(--ff-bold);
  text-transform: uppercase;
}

.paragraph {
  height: 50px;
  width: 50px;
}

button {
  background-color: var(--clr-background);
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
}

@media (min-width: 376px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .sedans {
    border-radius: 10px 0 0 10px;
  }

  .luxury {
    border-radius: 0 10px 10px 0;
  }

  button {
    margin-top: 40px;
  }
}
