:root {
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-very-dark-cyan: hsl(179, 100%, 13%);

  --clr-text: hsla(0, 0%, 100%, 0.75);
  --clr-background: hsl(0, 0%, 95%);

  --ff: 'Chivo', sans-serif;
  --ff-bold: 'Big Shoulders Display', cursive;

  --fw-regular: 400;
  --fw-bold: 700;
  --fs: 15px;
}

body {
  display: flex;
  min-height: 100vh;
  place-content: center;
  font-family: var(--ff);
  font-size: var(--fs);
  color: var(--clr-text);
  background-color: var(--clr-background);
}

.container {
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

img {
  width: 64px;
  height: 40px;
}

.sedans {
  background-color: var(--clr-bright-orange);
  border-radius: 8px 8px 0 0;
  padding: 48px;
  width: 208px;
  height: 360px;
}

.sedans button {
  color: var(--clr-bright-orange);
}

.suvs {
  background-color: var(--clr-dark-cyan);
  padding: 48px;
  width: 208px;
  height: 360px;
}

.suvs button {
  color: var(--clr-dark-cyan);
}

.luxury {
  background-color: var(--clr-very-dark-cyan);
  border-radius: 0 0 8px 8px;
  padding: 48px;
  width: 208px;
  height: 360px;
}

.luxury button {
  color: var(--clr-very-dark-cyan);
}

.heading {
  font-family: var(--ff-bold);
  font-size: 40px;
  text-transform: uppercase;
}

p {
  height: 125px;
  width: 231px;
  line-height: 25px;
}

button {
  background-color: var(--clr-background);
  border-radius: 25px;
  margin-top: 25px;
  padding: 12px 31px;
  border: none;
  width: 146px;
  height: 48px;
}

@media (min-width: 376px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .sedans {
    border-radius: 8px 0 0 8px;
  }

  .luxury {
    border-radius: 0 8px 8px 0;
  }

  button {
    margin-top: 40px;
  }
}
